<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sandwiches, Bitches</title>
  </head>
  <body>
    <h1>My Favorite Sandwiches, Bitches</h1>
    {% for sandwich in sandwiches %}
    <a href="/{{sandwich.id}}"><p>{{ sandwich.name }}</p></a>
    {% endfor %}
    <form class="" action="/new_sandwich" method="POST">
      <label for="name">Name:</label>
      <input id="name" type="text" name="name" value="">
      <br>
      <label for="isSandwich">Is A Sandwich:</label>
      <select id="isSandwich" class="" name="isSandwich">
        <option disabled default value=""></option>
        <option value="true">True</option>
      </select>
      <br>
      <input type="submit" name="" value="Submit">
  </form>
  </body>
</html>
